<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/conversation.css">
        <link rel="stylesheet" type="text/css" href="/static/button.css">
    </head>
    <title>Sender One</title>
    <h1>Conversation</h1>
    <div id="FirstTopicData" class="chat">
        <div id="Messages"></div>
    </div>
    <br>
    <form id="firstUserForm" action="/UserSendData/1" method="post">
        <input type="text" id="textToSend" name="textToSend">
        <input type="submit" class="btn-gradient blue small">
    </form>
    <br>
    <script type="text/javascript" src="/static/firstTopic-bundle.js"></script>
</html>